@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*::selection{
    background-color: peru;
}

header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/2.jpg");

}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    padding: 5px 50px;
    background-color: aliceblue;
}
nav a{
    text-decoration: none;
    margin: 0 15px;
    color: black;
}
nav a:hover{
    color: peru;
    border-bottom: 1px solid black;
}
nav h1{
    float: left;
}
nav div{
    float: right;
}
span{
    color: brown;
}

header>div{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
}
#Ab{
width: 100%;
padding: 30px 5%;
}

#Ab img{
    width: 32%;
    height: 200px;
    border-radius: 20px;
}
#Ab h1{
text-align: center;
margin: 20px;
}
.course{
    width: 100%;
    height: 400px;
    background-color: rgb(233, 203, 174);
    padding: 20px 5%;
    position: relative;
}
.course>div{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.course>div div{
    width: 250px;
    padding: 15px;
    border: 5px solid peru;
    border-radius: 10px 0 0 0;
    display: inline-block;
    margin-right: 20px;
}

#contact{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: teal;
    padding: 100px 50px;
}
#contact>div{
    width: 400px;
    background-color: rgb(49, 49, 48);
    clip-path: polygon(50% 0%, 100% 6%, 96% 65%, 99% 100%, 0 100%, 3% 61%, 3% 1%);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#contact>div form input{
    width: 100%;
    margin: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    
}
.heading{
    text-align: center;
}
footer{
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: #dedddd;
}